body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

img  {
    width: 66.6666vw;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto auto 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
}

.sub-heading {
    font-size: 24px;
    margin-top: 30px;
}

.btn-list {
    list-style: none;
    padding-left: 0;
}

.btn-list li {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.prerequisites {
    list-style-type: none;
    padding-left: 0;
}

.prerequisites li {
    margin-bottom: 10px;
}

.prerequisites ul {
    margin-top: 10px;
    padding-left: 20px;
}

.installation-image {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

.details-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.details-heading:hover {
    color: #007bff;
}

.details-heading::marker {
    content: "▶";
}

.details-heading:focus {
    outline: none;
}

code {
    display: block;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-top: 10px;
}

.footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px 0;
    background-color: #007bff;
    color: #fff;
}
